; 请妥善保管您的配置
registry=https://sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/
always-auth=true
//sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/:username=sakurabot-koishi-1641304850463
//sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/:_password=ZGIyODUwMDMyN2Y5M2E3YjlmOWQzOTJkMzk0Y2QyMzZiZTI0NzgwYQ==
//sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/:email=2020212726@qq.com